@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --font1: "Poppins", sans-serif;
    --cor1: #DD858F;
    --cor2: #FAA1B4;
    --cor3: #88EAD9;
    --cor4: #467DB3;
    --cor5: #27325C;
    --cor6: #27325c96;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

section#header{
    background-image: linear-gradient(to right, var(--cor4), var(--cor5) );

}

header{
    background-color: var(--cor2);
    height: 70px;
    text-align: right;
    border-radius: 0px 0px 40px 40px;
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.404);
    
}
header > h1{
    display: inline-block;
    width: 300px;
    padding-left: 20px;
    float: left;
    font-family: var(--font1);
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.288);
    
}

nav {
    vertical-align: middle; /* Alinha verticalmente no meio */
    padding-top: 15px;
    padding-right: 100px;
    
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    padding: 10px 30px;
    font-weight: bold;
    
}

nav a:hover{
    background-color: var(--cor6);
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

section#titulo{
    display: flex;
    background-image: linear-gradient(to right, var(--cor4), var(--cor5) );
    width: auto;
    height: 360px;
    padding: 20px;
}

div#principal{
    
    color: white;
    width: 80vh;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin:0px 20px 20px 20px;
    border-radius: 10px;
}

div#principal h1{
    font-family: var(--font1);
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.288);
}

div#principal h2{
    font-size: 1.3em;
}

div#principal p{
    padding: 20px;
}

section#produto{
    font-family: var(--font1);
    background-color: #FAA1B4;
    width: auto;
    height: 600px;
}

div#container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #FAA1B4;
    width: auto;
    height: 600px;
}

div.item{
    background-color: var(--cor3);
    border: 1px solid rgba(0, 0, 0, 0.781);
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.329);
    width: 150px;
    height: 200px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

div.item p{
    position: absolute;
    background-color: white;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin:-10px;
    text-align: center;
    padding-top: 10px;

}


