@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --font1: "Poppins", sans-serif;
    --font2: "Playwrite PE", cursive;
    --cor1: #DD858F;
    --cor2: #FAA1B4;
    --cor3: #88EAD9;
    --cor4: #467DB3;
    --cor5: #27325C;
    --cor6: #27325c96;
    --cor7: #fae4e9;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

section#header{
    background-image: linear-gradient(to right, var(--cor4), var(--cor5) );

}

header{
    background-color: var(--cor7);
    height: 70px;
    text-align: right;
    border-radius: 0px 0px 40px 40px;
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.404);
    
}
header > h1{
    display: inline-block;
    width: 400px;
    padding-left: 20px;
    padding-top: 13px;
    float: left;
    font-family: var(--font1);
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.288);
    
}

nav {
    vertical-align: middle; /* Alinha verticalmente no meio */
    padding-top: 14px;
    padding-right: 300px;
    
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    padding: 8px 10px 10px 8px ;
    font-weight: bold;
    font-size: 1.3em;
    font-family: var(--font2);
    height: 20px;
    
}

nav a:hover{
    background-color: var(--cor6);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    transition-duration: 0.5s;
}

section#titulo{
    display: flex;
    background-image: linear-gradient(to right, var(--cor4), var(--cor5) );
    width: auto;
    height: 80vh;
    padding: 20px;
    /*position: relative;*/
    justify-content: space-between; /* Adicionado para distribuir o espaço */
    align-items: center; /* Adicionado para alinhar verticalmente no centro */

}

div#principal{
    /*color: white;
    width: 50vw;
    height: 400px;
    text-align: center;
    padding: 20px;
    margin:0px 20px 20px 20px;
    border-radius: 10px;
    position: absolute;
    top: 120px;*/

    color: white;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

div#principal h1{
    font-family: var(--font1);
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.288);
}

div#principal h2{
    font-family: var(--font2);
    font-size: 2em;
}

div#principal p{
    padding: 30px;
    font-size: 1.2em;
    text-align: justify;
}

div#barrca-doces {
    width: 40%;
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

div#barrca-doces img {
    max-width: 100%;
    height: auto;
}

section#produto{
 
    background-color: var(--cor2);
    font-family: var(--font1);
    height: auto;
    width: 100%; /* A seção "produto" ocupa 100% da largura disponível */
    padding: 20px; /* Adicione um pouco de preenchimento para dar espaço ao conteúdo */
    box-sizing: border-box; /* Inclui preenchimento e bordas na largura total */

}

section#prod{
    background-color: #fae4e9;
    width: 80%; /* A seção "prod" ocupa 80% da largura da seção "produto" */
    margin: 0 auto; /* Centraliza a seção "prod" dentro da seção "produto" */
    height: auto; /* Ajusta a altura automaticamente com base no conteúdo */
    padding: 20px; /* Adiciona preenchimento dentro da seção "prod" */
    box-sizing: border-box; /* Inclui preenchimento e bordas na largura total */
    border-radius: 10px;
}

section#prod h2{
    text-align: center;
    padding: 30px 20px 20px 20px;
    font-size: 2em;
    font-family: var(--font2);

}
div#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); /* Ajuste automático das colunas */
    gap: 20px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza o grid */
    width: 100%;
    box-sizing: border-box;


}

div.item{
    position: relative;
    background-color: var(--cor3);
    border: 1px solid rgba(0, 0, 0, 0.781);
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.329);
    width: 100%; /* Ajusta a largura para preencher a coluna */
    max-width: 210px; /* Garante que não ultrapasse a largura máxima */
    height: 260px;
    text-align: center;
    text-decoration: none;
}

div.item p{
    position: absolute;
    background-color: white;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin:-10px;
    text-align: center;
    padding-top: 10px;

}

footer{
    background-image: linear-gradient(to right, var(--cor4), var(--cor5) );
}

footer p{
    height: 50px;
    color: white;
    font-family: var(--font1);
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.288);
    padding: 8px 3px 3px 3px;
}

footer.redes-sociais{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
